header{
    background:url(./img/pattern.png);
    background-color: lightseagreen;
    height: 170px;
    width: 100%;
    margin: auto;
}

#Booleaner{
    display: inline-block;
    font-size: 50px;
    margin: 100px 0px 0px 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'Roboto Slab', serif;
    
}

main{
    width: 70%;
    margin: auto;

}

h2{
    font-size: 40px;
    margin-bottom: 0px;
}

.credits{
    font-style: normal;
    color: grey;
}

a{
    text-decoration: none;
}

#date{
    font-size: 15px;
}

figcaption{
    font-size: 13px;
}

.important{
    background-color: yellow;
}

ul{
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
}

tr :last-child{
    width: 50%;
}

thead{
    background-color: rgb(70, 150, 182);
    
}

table { 
    border-spacing: 0;
    margin-top: 50px;
    
    }

.tabella{
    background-color: rgb(150, 195, 212);
}

footer{
    margin-top: 60px;
    width: 70%;
    margin: auto;
}

#advise{
    color: grey;
    font-size: 20px;
}

.img1{
    margin-top: 30px;
    background-image: url(./img/monitor.jpg);
    width: 312px;
    height: 208px;
    
}

.img2{
    margin-top: 30px;
    background-image: url(./img/graph.jpg);
    width: 311px;
    height: 207px;
}

div>span{
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

#tim1{
    display: inline-block;
    width: 53%;
}

#tim2{
    display: inline-block;
    width: 45%;
}
