header{
    background:url(./img/pattern.png);
    background-color: lightseagreen;
    height: 170px;
    width: 100%;
    margin: auto;
}

#Booleaner{
    display: inline-block;
    font-size: 50px;
    margin: 100px 0px 0px 20px;
    color: white;
    text-shadow: 2px 2px 5px black;
    font-family: 'Roboto Slab', serif;
    
}

main{
    width: 100%;
    margin: auto;

}

h2{
    font-size: 40px;
    margin-bottom: 0px;
}

.credits{
    font-style: normal;
    color: grey;
}

a{
    text-decoration: none;
}

#date{
    font-size: 15px;
}

figcaption{
    font-size: 13px;
}

.important{
    background-color: yellow;
}

ul{
    padding: 0;
    margin-left: 20px;
    margin-top: 30px;
}
